{{!-- <div class="container text-center"> --}}

    <div class="card">
        <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <p  style="white-space: pre-line">{{postagem.conteudo}}</p> 
        <small>{{postagem.date}}</small>
        </div>
    </div>

{{!-- </div> --}}

